doctype html
html(lang='en')
    head
        include ../../../includes/header
    body
        .container
            include ../../../includes/jumbotron
            include ../../../includes/menu
            .row
                .col-md-12
                    .panel.panel-warning
                        .panel-heading.text-center
                            h3.panel-title The Following is a Historical Document
            .row
                .col-md-12
                    .well
                        h1.page-header= page.title
                        each s in contents.data['history']['2012']['karoshi']['viewingRoom.json'].metadata
                            img.pull-left(src=s.imgUrl, style="margin: 0 1em 1em 0")
                            h2(style="margin: 0 0 0.25em 0")= s.title
                            h3(style="margin: 0 0 0.25em 0")= s.times
                            h3(style="margin: 0 0 0.25em 0") Episodes: 
                                != s.episodes
                            p(style="line-height: 1.5")= s.desc
                            .clearfix
        include ../../../includes/scriptFooter